body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

a button, label {
    background-color: #0f82c9;
    color: #f4f4f4;
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 0 10px;
    box-sizing: border-box; /* Add this line */
}

a button:hover, label:hover {
    background-color: hsl(107, 46%, 33%);
}

input[type="file"] {
    display: none;
}

/* Style the label as a button */
label {
    display: inline-block;
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Add this line */
}